
<br/><br/>
<h1 class="headings">{{title}}</h1>
<br/>
<div class="row">
	<div class="col-sm-12">
						     <p class="paragraph">Orangegleam.com is a web company that was created to help business owners market their products and services more effectively. Our approach is simple; we desire to build quality websites that look great, load quickly, and are optimized for speed, performance, and visibility, in a way that is ideal for our clients. We understand that a successfull website requires a great design, marketing, and maintenance, and we're here to offer this support to our clients. 
						     </p>

	</div>	
</div>
<br/>
<div class="row">
	<div class="col-sm-2">
		<img class="img-thumbnail" style="float:left" src="images/jesus.png" alt="fresno website design -Jesus Tellez" id="jesus" />
	</div>
	<div class="col-sm-10">
							<section>
							<h4 class="formattedheadingabout" id="jesusbiopage">Biography</h4>
							 <p class="paragraphjesus">Jesus lives in Fresno, CA, and is highly involved locally.  He attends St. John’s Cathedral every Sunday morning and plays in a local adult soccer league.  He also enjoys spending time with members of the International Business Association, which is a student organization of Fresno State. Before starting OrangeGleam, he worked for three years at Fresno State as a web developer, and prior to that he worked as a webmaster for various employers.  Because of all these experiences, he is now ready to help other businesses succeed online.</p>
                             </section>
<div class="row">
	<div class="col-sm-6">
                            <section>
                            <h4 class="formattedheadingabout" id="aboutpage">Contact Info</h4>	
							<p class="smallformat" id="name"><strong>Name:</strong> Jesus Tellez</br></p>
							<p class="smallformat" id="title"><strong>Title:</strong>Web Consultant</br></p>
							<!--email_off--> 
							<p class="smallformat" id="email"><strong>Email:</strong>jesus@orangegleam.com</p>
							<!--/email_off-->
							<p class="smallformat" id="email"><strong>Website:</strong><a href="http://www.lebluez.com" target="_blank">www.lebluez.com</a></p>  						
							</section>
    </div>
    <div class="col-sm-6">						
							<section>
			 				 <h4 class="formattedheadingabout" id="aboutpage">Skills</h4>
			 				 <ul>
								<li><p class="smallformat">Website Marketing</p></li>
								<li><p class="smallformat">Project/Website Management</p></li>
								<li><p class="smallformat">User Interface Design</p></li>
								<li><p class="smallformat">Website Design & Development</p></li>
								<li><p class="smallformat">Web Consulting</p></li>
			  				</ul>
							</section>
	</div>						
</div>										
	</div>
</div>
<br/><br/>
<div class="row">
	<div class="col-sm-2">
		<img class="img-thumbnail" style="float:left" src="images/chloe.png" alt="fresno website design Chloe Covin" id="chloe"  />		 	
	</div>
	<div class="col-sm-10">
							<section>
							<h4 class="formattedheadingabout" id="servicespagebio">Biography</h4>
							 <p class="paragraph">Chloé is from Dallas, Texas, and currently lives in Auburn, Alabama.  She attended college at La Grange College, in La Grange, Georgia, and has experience in sales and marketing, as well as customer service and business relations.  She is passionate about helping small businesses succeed and thrive, and building lasting relationships with clients, and has a strong desire to work to resolve any problems that may arise during this process.</p>
                             </section>	

    <div class="row">

    	<div class="col-sm-6">
                            <section>
                            <h4 class="formattedheadingabout" id="servicespagecontact">Contact Info</h4>

							<p class="smallformat" id="name"><strong>Name:</strong>Chloe Covin</p>
							<p class="smallformat" id="title"><strong>Title:</strong>Client Relationship Manager</p>
							<!--email_off--> 
							<p class="smallformat" id="email"><strong>Email:</strong>chloe@orangegleam.com</p>
							<!--/email_off-->  
							</section> 
        </div>
        <div class="col-sm-6">
                             <section>
							 <h4 class="formattedheadingabout" id="servicespageskills">Skills</h4>
							 <ul>
								<li><p class="smallformat">Client Correspondence</p></li>
								<li><p class="smallformat">Sales and Marketing</p></li>
								<li><p class="smallformat">Content Creation</p></li>
								<li><p class="smallformat">Creative Problem Resolution</p></li>
								<li><p class="smallformat">Communication Stylist</p></li>
							</ul>
							</section>
		</div>					
	</div>									
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-4">
  		<h3 class="servicespage">Mission</h3>
  		<p class="format">Our mission is to design, build, market, & maintain quality websites that look great, load quickly, and are optimized for speed, performance, and visibility, in a way that is ideal for our clients.</p>										
	</div>
	<div class="col-sm-4">
  		<h3 class="servicespage">Vision</h3>
  		<p class="format">Our vision is to help both new entrepreneurs and existing business owners improve their businesses by facilitating the generation of better leads for their products or services, and customizing and creating an organic Search Engine Optimization campaign in order to achieve the best results possible. </p>										
	</div>
	<div class="col-sm-4">
  		<h3 class="servicespage">Our Philosophy</h3>	
  		<p class="format">Our Philosophy is to equip our clients with the kind of websites they need for success, and to be available for support if they have any questions, comments, or concerns.</p>										
	</div>
</div>
<br/><br/>
