<br/><br/>
<h1 class="headings">{{title}}</h1>
<br/>
<h3 class="servicespage">2016</h3>
<div class="row">
	<ul>
		<li><p class="format"><a href="blog4">Why SPA (Single Page Application) websites are awesome.</a></p></li>
	</ul>	
</div>	
<h3 class="servicespage">2015</h3>
<div class="row">
	<ul>
		<li><p class="format"><a href="blog1">If You’re Not Online, You’re Out of Touch: Why Having A Presence Online Is Crucial For Your Business In Today’s Market.</a></p></li>
		<li><p class="format"><a href="blog2">The Importance of Validating Your Website Using W3C </a></p></li>
		<li><p class="format"><a href="blog3">How To Compare Web Development Companies?</a></p></li>
	</ul>	
</div>	
<br/>