<br/><br/>
<h1 class="headings">{{title}}</h1>
<br/>
<dl class="faqs">
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">What do we do differently than the competition?</4></dt>
        <dd class="faqs"><p class="format">Unlike many other companies and freelancers that only offer bloated, poorly built websites. We are building our business in offering our clients what they really need, which is a great looking website, complete with a strong organic marketing campaign to promote their business. </p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">Are we licensed to conduct business?</h4></dt>
        <dd class="faqs"><p class="format">Yes we are. #426427</p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">On average, how long does a website take to complete?</h4></dt>
        <dd class="faqs"><p class="format">This is dependent on the scope of the project, but on average we take between 2-4 weeks to design, develop, and implement a new project.</p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">Are we currently taking on any new projects?</h4></dt>
        <dd class="faqs"><p class="format">Yes we are.</p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">What does our $7 business deal include?</h4></dt>
        <dd class="faqs"><p class="format"><ul><li>Hosting</li><li>A monthly Website Backup</li><li>Complete Website Management, Marketing, & Maintenance</li><li>Google Analytics Reports</li><li>Domain Registration</li><li>Provide A Link Building Campaign</li><li>Check for PageSpeed and YSlow and make improvements to both.</li><li>Make sure all of your webpages are optimized to W3C validator standards.</li><li>KeyWord Research</li></ul></p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">Who is the $7 business deal good for?</h4></dt>
        <dd class="faqs"><p class="format">This package is for business owners that understand the importance of having an online presence, but don't want to spend a lot of time, effort, and money for a much needed service.</p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">Who are some of our better known clients?</h4></dt>
        <dd class="faqs"><p class="format">We've done consulting work for California State University, Fresno & worked on projects for Bitwise Industries Shift3 Team</p></dd>
        <dt class="faqs"><h4 class="formattedheading" id="faqspage">Our Work Process</h4></dt>
        <dd class="faqs"><p class="format"><ol><li>Set up a meeting to discuss your web project.</li><li>Review your requirements and provide you a quote.</li><li>If you agree to proceed, we sign a contract to begin work.</li></ol></p></</dd>
</dl>   
<br/>




