<h1 class="headings">{{title}}</h1>


<div>
<p class="paragraph">If you're interested in setting up a free consultation to discuss your project with us, then, please fill out this form and send us a message to schedule a meeting.</p>

<form action="#">


  
  <div>
    <label class="desc" id="title1" for="Field1">Full Name</label>
    <div>
      <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="14" tabindex="1" placeholder="John Doe" autofocus required>
    </div>
  </div>

  <div>
    <label class="desc" id="title3" for="Field5" >
      Phone Number
    </label>
    <div>
      <input id="Field3" name="Field5" type="phone" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="(559)376-0051" required> 
   </div>
  </div>
    
  <div>
    <label class="desc" id="title3" for="Field3" >
      Email
    </label>
    <div>
      <input id="Field3" name="Field3" type="email" spellcheck="false" value="" maxlength="255" tabindex="4" placeholder="example@youremail.com" required> 
   </div>
  </div>

  <div>
    <label class="desc" id="title3" for="Field2">Please tell us what this is regarding</label>
    <div>
      <select id="title3">
        <option value="option1">Make a selection</option>
        <option value="option2">I'm interested in a website redesign</option>
        <option value="option3">I'm interested in the $7day Website Management Plan</option>
        <option value="option4">I would like a wesbite built</option>
        <option value="option5">I have something else I want to talk to you about.</option>
      </select>
    </div>
  </div>
    
  <div>
    <label class="desc" id="title4" for="Field4" >
      Your Message
    </label>
  
    <div>
      <textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="4" placeholder="Type out your message" required ></textarea>
    </div>
  </div>
    
  
  
  
  <div>
    <div>

      <button id="saveForm" name="saveForm" class="submit" type="submit" value="Submit">Submit Form</button>
    </div>
  </div>
  
</form>

</div>