<h1 class="headings">{{title}}</h1>

	<p class="paragraph">Would it not be great if you had a dedicated team of web professionals to help you market and manage your business website more effectively than the way you’re running it right now? Perhaps, you’re just like the majority of website owners, who paid hundreds or thousands of dollars to get a website built to promote your products or services on the internet, but you realize that you’re not getting the results you were expecting.</p>

	<p class="paragraph">A reason you’re not seeing these results is probably due to the fact that you’re not marketing your products or services effectively. Perhaps, no one is finding your website because it’s not showing up in search engines like Google. For only $7/day we can design and implement a unique marketing and management strategy that will give you better results than what you’re currently seeing.</p>

	<p class="paragraph">Below you’ll find a list of all of the services that are included in this plan. We would be happy to answer any questions, or elaborate further on the details of this deal.</p>

	<ul>
		<li><p class="smallformat">Perform Keyword Research for your website</p></li>
		<li><p class="smallformat">Make sure all of your webpages are optimized to W3C validator standards. (A report will be generated for your website, and emailed to you)</p></li>
		<li><p class="smallformat">Check for PageSpeed and YSlow and make improvements to both. (A report will be generated for your website, and emailed to you)</p></li>
		<li><p class="smallformat">Provide your website a marketing campaign through link building</p></li>
		<li><p class="smallformat">Provide you a Google Analytics report to track your website traffic progress</p></li>
		<li><p class="smallformat">Setup email accounts and auto responders for your website</p></li>
		<li><p class="smallformat">Monthly website backup</p></li>
		<li><p class="smallformat">Dedicated Webmaster</p></li>
	</ul>

	<img src="images/greatdeal.jpg" style="float:right" class="img-responsive"/>

	   	  <p>
            <p class="getstarted">Would you like more information?</p>
            <div class="indexbutton"><a class="btn btn-lg btn-warning" href="gettingstarted">Let's get started!</a></div>
          </p>

          <br/><br/><br/><br/><br/><br/><br/><br/>