   <div class="orangebox" >
    <div class="row">
    <div class="col-sm-7">
    <h1 class="indexpg"><span style="color:#6DB3E2">P</span>rofessional</h1>
    <h1 class="indexpg"><span style="color:#6DB3E2">W</span>ebsite</h1>
    <h1 class="indexpg"><span style="color:#6DB3E2">M</span>anagement</h1>
    <br/>
    <div class="img-responsive" id="topindex">
      <div class="row">
      <div class="col-sm-7">  
      <p class="workindex">Get Your Website Managed for $7</p>
      </div>
      <div class="col-sm-5">
      <p class="portfolioindex"><a href="deal">Learn More</a></p>  
      </div>  
      </div>
    </div>
    </div>
    <div class="col-sm-1">
    <br/>
    </div>
     <div class="col-sm-4">
      <br/>
      <img id="img_to_flip" class="img-responsive" alt="Fresno Website Design Bilingual Websites" src="images/indeximg1.png" width="474" height="366"/>
      <br/><br/>
    </div>
   </div>
</div>
<div class="orangeboxfix" >
  <div class="row">
        <div class="col-lg-4" id="homefix">
          <h4 class="formattedheadingaboutx" >Get a website redesigned for $995</h4>
          <p class="paragraph">We want to make it easy and affordable for business owners to experience the difference a great looking website and quality marketing strategy can do for their business; which is why for a limited time, we are offering to redesign their outdated websites for $995 when they give  our <a href="deal">$7 Website Management Plan</a> a try. Not all websites will be eligible for a redesign at this price, and some restrictions will apply. If you’re interested in learning more about our redesign special, please click on the let’s get started button to schedule a Free no obligation consultation to answer your questions.</p>
        </div>
        <div class="col-lg-4" id="homefix">
          <h4 class="formattedheadingaboutx">Why Work With Us?</a></h4>
          <p>
            <ul>
              <li>Effective Online Marketing Solutions</li>
              <li>Search Engine Optimization focused websites</li>
              <li>Code validated to W3C standards</li>
              <li>Several years of web development experience</li>
              <li>We are easy to work with and available to answer questions via phone call, email, and even face-to-face meetings</li>
            </ul>
          </p>
         
        </div>
        <div class="col-lg-4" id="homefix">
          <h4 class="formattedheadingaboutx">Testimonials</h4>
          <p class="paragraph">We decided to hire OrangeGleam to build our soccer league website, and we are happy we did. They delivered a great looking website that we are able to update ourselves very easily. They were very professional, communicated with us very well, and were really easy to work with. We will definitely use Jesus and orangegleam.com again for future projects.</p>
          <p class="paragraph">
            <i>Eugene, www.vuslinterliga.com</i>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <p>
            <p class="getstarted">Ready to start your project?</p>
            <div class="indexbutton"><a class="btn btn-lg btn-warning" href="gettingstarted">Let's get started!</a></div>
          </p>
        </div>  
      </div>
      <div class="row">
        <h4 class="formattedheadingaboutxx"><a href="portfolio"/>Some of our past projects</a></h4>
        <div class="col-sm-3">
         <a href="http://www.lebluez.com" target="_blank"><img class="img-thumbnail" id="hovereffect" src="images/frontpage_1.png" /></a>
         <br/><br/>
          <a href="http://www.lebluez.com" target="_blank" class="links">www.lebluez.com</a>
          <br/><br/>
        </div>
        <div class="col-lg-3">
          <a href="http://www.forestvillain.com" target="_blank"> <img class="img-thumbnail" id="hovereffect"  src="images/frontpage_2.png"/></a>
          <br/><br/>
          <a href="http://www.forestvillain.com" target="_blank" class="links">www.forestvillain.com</a>
          <br/><br/>
        </div>
        <div class="col-lg-3">
          <a href="http://www.vuslinterliga.com" target="_blank"> <img class="img-thumbnail" id="hovereffect"  src="images/frontpage_3.png"/></a>
          <br/><br/>
          <a href="http://www.vuslinterliga.com" target="_blank" class="links">www.vuslinterliga.com</a>
          <br/><br/>
        </div>
        <div class="col-lg-3">
          <a href="http://www.universalbiopharma.org" target="_blank"> <img class="img-thumbnail" id="hovereffect" src="images/frontpage_4.png"/></a>
          <br/><br/>
          <a href="http://www.universalbiopharma.org" target="_blank" class="links">www.universalbiopharma.org</a>
          <br/><br/>
        </div>
      </div>  
    </div>
    <br/><br/><br/>