<br/><br/>
<h1 class="headings">{{title}}</h1>
<br/>
<div class="row">
  <div class="col-sm-4"><a href="http://www.atpmechanix.com" target="_blank"> <img class="img-thumbnail" src="images/atpmechanix.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of Atpmechanix" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.atpmechanix.com" target="_blank" class="portfoliolinks">www.Atpmechanix.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.vuslinterliga.com" target="_blank"> <img class="img-thumbnail" src="images/vuslinterliga.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of Vuslinterliga" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.vuslinterliga.com" target="_blank" class="portfoliolinks">www.Vuslinterliga.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.universalbiopharma.org" target="_blank"> <img class="img-thumbnail" src="images/universalbiopharma.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of Universalbiopharma" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.universalbiopharma.org" target="_blank" class="portfoliolinks">www.Universalbiopharma.org</a></p></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4"><a href="http://www.forestvillain.com" target="_blank"> <img class="img-thumbnail" src="images/cdaguiluchosusa.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of ForestVillain" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.forestvillain.com" target="_blank" class="portfoliolinks">www.forestvillain.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.maddyinstitute.com" target="_blank"> <img class="img-thumbnail" src="images/maddyinstitute.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of Maddyinstitute" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.maddyinstitute.org" target="_blank" class="portfoliolinks">www.Maddyinstitute.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.shalimarslo.com" target="_blank"> <img class="img-thumbnail" src="images/shalimarslo.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of Shalimarslo" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.shalimarslo.com" target="_blank" class="portfoliolinks">www.Shalimarslo.com</a></p></div>
</div>
<br/>
<div class="row">
  <div class="col-sm-4"><a href="http://www.elawclinic.com" target="_blank"> <img class="img-thumbnail" src="images/elawclinic.png" id="portfolioimgs" class="img-responsive" alt="wfresno website design picture of Elawclinic" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.elawclinic.com" target="_blank" class="portfoliolinks">www.Elawclinic.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.kermanumca.com" target="_blank"> <img class="img-thumbnail" src="images/kermanumca.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of of Kermanumca" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.kermanumca.com" target="_blank" class="portfoliolinks">www.Kermanumca.com</a></p></div>
  <div class="col-sm-4"><a href="http://www.jimperezgolf.com" target="_blank"> <img class="img-thumbnail" src="images/jimperezgolf.png" id="portfolioimgs" class="img-responsive" alt="fresno website design picture of jimperezgolf" width="226" height="129"></a>
							 <p class="portfolio1"><a href="http://www.jimperezgolf.com" target="_blank" class="portfoliolinks">www.jimperezgolf.com</a></p></div>
</div>
<br/>