<br/><br/>
<h1 class="headings">{{title}}</h1>
<br/>
<div class="row">
<div class="col-sm-6">
<h3 class="servicespage">Services we offer:</h3>
						<ul>
							<li><p class="format" onclick="consultingFunction()">Web Consulting</p></li>
							<li><p class="format" onclick="marketingFunction()" >Web Marketing</p></li>
							<li><p class="format" onclick="managementFunction()">Web Management</p></li>
							<li><p class="format" onclick="responsiveFunction()">Responsive Web Design (RWD) Development</p></li>
							<li><p class="format" onclick="spaFunction()">Single Page Application Design (SPA) Development</p></li>
							<li><p class="format" onclick="cmsFunction()">Content Management Systems (CMS) Development</p></li>
							<li><p class="format" onclick="ecommerceFunction()">E-Commerce Development</p></li>
							<li><p class="format" onclick="customdevelopmentFunction()">Custom Web Application Development</p></li>
						
						    
							
							<li><p class="format" onclick="seoFunction()">SEO (organic tactics) Campaign</p></li>
							<li><p class="format" onclick="contentwritingFunction()">Content Writing</p></li>
							<li><p class="format" onclick="linkbuildingFunction()">Link Building</p></li>
							<li><p class="format" onclick="compliantFunction()">W3C Compliant Code</p></li>
							<li><p class="format" onclick="pagespeedFunction()">Improving PageSpeed and Y-Slow</p></li>
							<li><p class="format" onclick="keywordresearchFunction()">KeyWord Research Analysis</p></li>
							<li><p class="format" onclick="analyticsFunction()">Google Analytics Setup</p></li>
							<li><p class="format" onclick="adsenseFunction()">Google Adsense Setup</p></li>
							<li><p class="format" onclick="hostingFunction()">Web Hosting</p></li>
							<li><p class="format" onclick="domainregistrationFunction()">Domain Registration</p></li>
							<li><p class="format" onclick="fixissuesFunction()">Fix current website problems</p></li>
						</ul>
</div>
<div class="col-sm-6">
<h3 class="servicespage">Stacks we utilize:</h3>
						<ul>
							<li><p class="format">HTML5, CSS3, JavaScript, PHP, MySQL</p></li>
							<li><p class="format">Node, Angular, Gulp, Yeoman, Grunt</p></li>
							<li><p class="format">Joomla, WordPress,OmniCampus, Laravel</p></li>
							<li><p class="format">Magento, VirtueMart, Authorize.net, PayPal, Stripe</p></li>
							<li><p class="format">Twitter Bootstrap & JQuery</p></li>
						</ul>
						<br/><br/>
						<img src="images/services.png" width="400" class="img-responsive"/>
</div>
</div>	
<br/>	


<script>

function consultingFunction() {
    sweetAlert("We offer a free no obligation consultation. ");
}

function marketingFunction() {
    sweetAlert("We run organic search marketing campaigns to help promote our clients websites. ");
}

function managementFunction() {
    sweetAlert("For only $7 a day, we help our clients manage their websites. ");
}

function responsiveFunction() {
    sweetAlert("All of our websites feature responsive web design, so that our clients’ websites look great, across all web devices. ");
}

function spaFunction() {
    sweetAlert("We use AngularJS to build single page application websites for our clients. ");
}

function cmsFunction() {
    sweetAlert("For clients that want to manage their own websites, we offer CMS solutions");
}

function ecommerceFunction() {
    sweetAlert("We offer E-commerce solutions to help our clients sell their products and services on their website.");
}

function customdevelopmentFunction() {
    sweetAlert("We have full stack LAMP & MEAN developers ready to work on customized database programming projects.");
}

function seoFunction() {
    sweetAlert("SEO is mandatory for any business looking to promote their website, and we count with effective & organic SEO techniques.");
}

function contentwritingFunction() {
    sweetAlert("We offer conventional copywriting for clients that need help producing original website content.  ");
}

function linkbuildingFunction() {
    sweetAlert("Link building is the process of getting external pages to link to pages of our clients. This is a common SEO tactic.");
}

function compliantFunction() {
    sweetAlert("All of our code is checked against the W3C validator. ");
}

function pagespeedFunction() {
    sweetAlert("We help improve page speed and y slow, by making adjustments to some files. We use GTmetrix.com to verify this information.");
}

function keywordresearchFunction() {
    sweetAlert("We offer keyword research analysis for our clients.");
}

function analyticsFunction() {
    sweetAlert("We offer progress reports generated by google analytics to help keep our clients informed of their website progress.");
}

function adsenseFunction() {
    sweetAlert("For clients that want to sell advertising space, we help them get setup with Google Adsense.");
}

function hostingFunction() {
    sweetAlert("We help clients get setup with hosting for their website.");
}

function domainregistrationFunction() {
    sweetAlert("We help new clients setup their domain name.");
}

function fixissuesFunction() {
    sweetAlert("We are here to fix a wide range of website issues.");
}

</script>

